<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonbanggoo.ohgod"
    android:targetSandboxVersion="1">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="아! 맞다"
        android:name="com.moonbanggoo.ohgod.App"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.moonbanggoo.ohgod.Activity.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.moonbanggoo.ohgod.Activity.MainActivity"></activity>
        <activity android:name="com.moonbanggoo.ohgod.Activity.AddPlanActivity"></activity>
        <activity android:name="com.moonbanggoo.ohgod.Activity.SelectLocationActivity"></activity>
        <activity android:name="com.moonbanggoo.ohgod.Activity.AlarmTestActivity"></activity>
        <activity android:name=".Activity.AboutUsActivity"></activity>
        <receiver android:name="com.moonbanggoo.ohgod.Receiver.BootCompletedReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.moonbanggoo.ohgod.Service.AlarmRingService">
    </service>
        <receiver android:name="com.moonbanggoo.ohgod.Receiver.AlarmReceiver" >
            <intent-filter>
                <action android:name="com.example.ohgod.ALARM_START"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.sec" />
            </intent-filter>
        </receiver>
    </application>
</manifest>